extend includes/_layout.jade
block title 
  |Главная страница
block main-content
  div.content_wrap
    div.main-slider#mainSlider
      div.main-slider_view#mainSliderView
        ul.main-slider_img-box#mainSliderImgBox
          li.main-slider_img-list
            img(src="./img/mini_img/main-slider-servers_mini.jpg" class="main-slider_img")
            p.main-slider_img-text
              |Текст главного слайдера, тут будут распологаться описания товара или услуг под кажным слайдом
          li.main-slider_img-list
            img(src="./img/mini_img/main-slider-engineering-systems2_mini.jpg" class="main-slider_img")
            p.main-slider_img-text
              |Текст главного слайдера, тут будут распологаться описания товара или услуг под кажным слайдом
          //- li.main-slider_img-list
          //-   img(src="./img/mini_img/main-slider-engineering-systems_mini.jpg" class="main-slider_img")
          //-   p.main-slider_img-text
          //-     |Текст главного слайдера, тут будут распологаться описания товара или услуг под кажным слайдом
          li.main-slider_img-list
            img(src="./img/mini_img/main-slider-office-equipment_mini.jpg" class="main-slider_img")
            p.main-slider_img-text
              |Текст главного слайдера, тут будут распологаться описания товара или услуг под кажным слайдом
          li.main-slider_img-list
            img(src="./img/mini_img/main-slider-video_mini.jpg" class="main-slider_img")
            p.main-slider_img-text
              |Текст главного слайдера, тут будут распологаться описания товара или услуг под кажным слайдом
          li.main-slider_img-list
            img(src="./img/mini_img/main-slider-telephony_mini.jpg" class="main-slider_img")
            p.main-slider_img-text
              |Текст главного слайдера, тут будут распологаться описания товара или услуг под кажным слайдом
            
              
            
