extend includes/_layout.jade
block title 
  |Главная страница
block main-content
  div.main-content
    div.activity
      div.activity-img_wrap
        img(src="./img/mini_img/equipment_mini.jpg" class="activity-img")
      div.activity-txt
        h2.activity-txt_title
          |Инженерные системы
        p.activity-txt_article
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  div.new-users
    div.new-users_wrap
      h1.new-users_title
        |Впервые на нашем сайте?
      p.new-users_txt
        |Напишите нам на почту, либо позвоните
      ul.new-users_contacts-box
        li.new-users_contacts-list
          a(href="tel:+79875856923" class="new-users_contacts-list_link") +7 (987) 58-56-923
        li.new-users_contacts-list
          a(href="mailto:nabrus@bk.ru" class="new-users_contacts-list_link") nabrus@bk.ru
