@import "_normalize.scss";
@import "_clearfix.scss";
@import "_layout.scss";

// -------------------------------------------
.content_wrap {
  width: 100%;
}
// ==================================================================
// Стили слайдера
.main-slider {
  width: 95%;
  margin: 380px auto 0 auto;
}
.main-slider_view {
  width: 100%;
  overflow: hidden;
}
.main-slider_img-box {
  list-style: none;
  @include clearfix;
  padding: 0;
  width: 4675px;
}
.main-slider_img-list {
  float: left;
  width: 935px;
  position: relative;
}
.main-slider_img {
  width: 100%;
  height: 400px;
}
.main-slider_img-text {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  font-size: 1.5em;
}
