@import "_normalize.scss";
@import "_clearfix.scss";
@import "_layout.scss";

// -------------------------------------------
.content_wrap {
  width: 100%;
}
// ==================================================================
// Стили слайдера
.main-slider {
  width: 95%;
  margin: 380px auto 0 auto;
  position: relative;
}
.slider-controll {
  width: 8%;
  height: 17%;
  position: absolute;
  z-index: 1;
}
#sliderControllLeft {
  top: 42.5%;
  left: 3%;
  background-image: url('./../img/icons/Black_Circle-Arrow_opacity.png');
  background-size: cover;
  background-position: 0% 0%;
}
#sliderControllRight {
  top: 42.5%;
  right: 3%;
  background-image: url('./../img/icons/Black_Circle-Arrow_opacity.png');
  background-size: cover;
  background-position: 100% 0%;

}
.main-slider_view {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.main-slider_img-box {
  position: absolute;
  list-style: none;
  @include clearfix;
  padding: 0;
  width: 4675px;
}
.main-slider_img-list {
  float: left;
  width: 935px;
  position: relative;
}
.main-slider_img {
  width: 100%;
  height: 400px;
}
.main-slider_img-text_wrap {
}
.main-slider_img-text {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 3% 3%;
  background-color: rgba(0, 0, 0, 0.67);
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: sans-serif;
}
