<!DOCTYPE html>
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		title
			block title
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content="Инженерные системы")
		meta(name="author" content="Набиев Рустам")
		//CSS
		link(rel="stylesheet", href="css/main.css")
		//JS
		script(type="application/javascript", src="bower/modernizer/modernizr.js")
	body
		div.main-wrap
			header.main-header
				div.main-header-logo
					h1.main-header-logo_title
						|RC-Company
					p.main-header-logo_txt
						|Региональная снабжающая компания
				button(type="button" class="main-header-menu_button" id="mainHeaderMenu")
			block main-content
